/*FORMATTING */

a:link {text-decoration: none;}
a:hover { text-decoration:underline;}

.chosen_textinput{
	width:254px;
	
}

#floating_marker{
	position:fixed;
	
	left:500px;
	top:200px;
	padding:25px;
	/* border:black solid 1px;  */
	

}


input[type='text']{
	margin:2px;
	width:250px;
	height:20px;
}



#main_container{
	width:955px;
	height:250px;
	display:block;
}
#left_container {
	float:left;
	padding-left:5px;
	margin:5px;
	padding:15px;
	border: black solid 1px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	min-height:210px;
	display:block;
}
#right_container {
	padding-left:5px;
	float:left;	
	display:block;
}	

.bulk{
	border: black solid 1px !important;
	padding:5px;
	margin-bottom:20px !important; 
}

.bottom_container{
	width:800px;
	float:left;
	
}


.text-list{
	color:black;

}

.mini_bluebox{
	float:left;
	border:black solid 1px; 
	padding:2px;
}

.padding_bottom{
	margin:5px;

}



.bluebox{
	margin:5px;
	background: #4f84b8 url(box-grad.png) repeat-x 0 0;
	 border-radius: 10px; -webkit-border-radius: 10px;
	 -moz-border-radius: 10px;
	 -khtml-border-radius: 10px;
	 box-shadow: 0 5px 12px rgba(0,0,0,.4);
	 -webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4);
	 -moz-box-shadow: 0 5px 12px rgba(0,0,0,.4);
	 -khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
	font: 14px/18px 'HelveticaNeue-Light', 'Helvetica Neue', Arial, Helvetica, sans-serif; color: #fff;
}
.container_child{
	padding-left:5px;
	padding:15px;
	border: black solid 1px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	height:210px;
}
.step3
{
	margin-right:500px; /* prevent stuff on right */
	padding-left:5px;
	margin-bottom:5px;
	padding:15px;
	border: black solid 1px;
	text-align:center;
	width:370px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}


.org_input_div
{
	float:left;
	padding-left:5px;
	padding:15px;
	border: black solid 1px;
	height:200px;
	
	
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.type-label{
   display:inline;
   text-align:center;
   display:block;
   font-weight:bold;
  
   margin-bottom:2px;
}

.right_container_child{
	border: black solid 1px;
	margin:5px;
	padding:15px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
#monocot-dropdown-div{
  float:left;
  width:40%;
  margin-right:20px;
  padding:5px;
}
#dicot-dropdown-div{
   float:left;
   width:45%;
     padding:5px;
}

#select{
    padding-top:5px;
}

body {
    background-color:#F0F0F0;
    font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', 'serif'; 
    font-size:.9em;
}

h2 {
display: inline;
/*border: thin dotted white;
-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;*/
}
h4 {
display: inline;
} 
/*STYLE*/
.scroll_checkboxes {
    height: 70%;
    margin: 5px;
    overflow: auto;
    border: black solid 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.org_input_contents{
	font-weight:bold;
	text-align:center;
	display:block
}
.chr-div{
	width:200px;

	
}

.scroll_chr {


}


textarea{ resize: none; }

li
{
	color:black;
}

/*
.org_select_div{
	padding-top:5px;
}
.org_select{
	width:350px;
}
*/
/*
.gradient
{
	background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #00A3EF 100%);
	background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #00A3EF 100%);
	background-image: -o-linear-gradient(top left, #FFFFFF 0%, #00A3EF 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));
	background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #00A3EF 100%);
	background-image: linear-gradient(to bottom right, #FFFFFF 0%, #00A3EF 100%);	
}
.gradient2
{
	background-image: -ms-linear-gradient(top right, #FFFFFF 0%, #00A3EF 100%);
	background-image: -moz-linear-gradient(top right, #FFFFFF 0%, #00A3EF 100%);
	background-image: -o-linear-gradient(top right, #FFFFFF 0%, #00A3EF 100%);
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));
	background-image: -webkit-linear-gradient(top right, #FFFFFF 0%, #00A3EF 100%);
	background-image: linear-gradient(to bottom left, #FFFFFF 0%, #00A3EF 100%);	
}

.gradient3
{
	background-image: linear-gradient(bottom, rgb(66,92,159) 2%, rgb(93,120,191) 51%);
	background-image: -o-linear-gradient(bottom, rgb(66,92,159) 2%, rgb(93,120,191) 51%);
	background-image: -moz-linear-gradient(bottom, rgb(66,92,159) 2%, rgb(93,120,191) 51%);
	background-image: -webkit-linear-gradient(bottom, rgb(66,92,159) 2%, rgb(93,120,191) 51%);
	background-image: -ms-linear-gradient(bottom, rgb(66,92,159) 2%, rgb(93,120,191) 51%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.02, rgb(66,92,159)),
		color-stop(0.51, rgb(93,120,191))
	);



}
html        { font: 14px/18px 'HelveticaNeue-Light', 'Helvetica Neue', Arial, Helvetica, sans-serif; color: #fff; background: url(noise.png); }

*/

.widthOverride{
	/*width:800px;
	float:left;*/
}

 
#bottom_container{
	width:955px;
	

} 


/*Checkbox CSS */
